<%- include('../partials/header2') %>

<div class="ui main text container segment"> 
    <div class="ui huge header">Create New Article</div>
     <form class="ui form"action="/businessArticle/new" method="post">
        <div class="field">
            <label >Title</label>
            <input type="text" name="article[title]" placeholder="title">
        </div>
        <div class="field">
            <label >Image (URL)</label>
            <input type="text" name="article[image]" placeholder="image">
        </div>
        <div class="field">
            <label >Content</label>
            <textarea name="article[body]"></textarea>
            
        </div>
       
        <input class="ui green basic button" type="submit">
     </form>
</div>
<%- include('../partials/footer2') %>