<div class="col-lg-6" >
       <div >
        <h1 class="centerIt">Requested Services</h1>
        <div class="requestShow">
              
        </div>
       </div>
      
    
 </div>
 <div class="col-lg-3">
    <div>
        <h1 class="centerIt">Your Services Provider</h1>
        <div class="exploreLink">

        </div>
    </div>
 </div>