
    <div class="col-lg-6" >
       <div >
        <h1 class="centerIt">Request</h1>
        <div class="requestShow">

        </div>
       </div>
    </div>
    <div class="col-lg-3">
       <div>
        <h1 class="centerIt">My Article</h1>
         <div class="showAll">
               
         </div>
       </div>
       
    </div>
