
<div class="col-lg-6" >
    <div class="listShow">
      <h1 class="centerIt">Service Profile Created</h1>
      <div class="addLink">
         <a href="/new/serviceProvider"><i class="fa-solid fa-plus red sizeIt"></i></a>
         <h5>Create More</h5>
     </div>
       
    </div>
    <div class="listShow">
     <h1 class="centerIt"> Article Created </h1>
     <div class="addLink">
         <a href="/businessArticle/new"><i class="fa-solid fa-plus red sizeIt"></i></a>
         <h5>Create More</h5>
     </div>
   </div>
 </div>
 <div class="col-lg-3">
    <div class="exploreLink">

    </div>
 </div>
