<%- include('../partials/header1') %>

<div class="container">
    <div class=" row">
       
<h1 style="text-align: center;">  New Request <%=serviceProvider.name%></h1>
 <div style="width: 30%; margin: 25px auto;">
<form action="/request/new/<%=serviceProvider._id%>" method="post">
    <div class="mb-3">
        <input class="form-control" type="text" name="description" 
          placeholder="your request description">
    </div>
    
    <div class="mb-3 d-grid gap-2">
        <button class="btn btn-lg btn-primary btn-block"> Submit!</button>
    </div>
    
</form>
</div>
    </div>
</div>
<%- include('../partials/footer1') %>