<%- include('../partials/header1') %>

<div class="container">
    <div class=" row">
       
<h1 style="text-align: center;"> Add New Review to <%=serviceProvider.name%></h1>
 <div style="width: 30%; margin: 25px auto;">
<form action="/serviceProvider/<%=serviceProvider._id%>/review" method="post">
    <div class="mb-3">
        <input class="form-control" type="text" name="review[text]" placeholder="text">
    </div>
    
    <div class="mb-3 d-grid gap-2">
        <button class="btn btn-lg btn-primary btn-block"> Submit!</button>
    </div>
    
</form>
</div>
    </div>
</div>
<%- include('../partials/footer1') %>